<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>meme.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FFE8933B1C3C94ED005C0172</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FFE8934F1C3C94ED005C0172</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FFE8935A1C3C94EE005C0172</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
